<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <title>Incidentes</title>
    {% load static %}

  </head>
<body>
 <header class = "masthead">

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="fogos_url">Incidentes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="listar_url">Lista </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="avisos_url">Avisos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="estatisticas_url">Estatisticas </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="relatar_url">Relatar <span class="sr-only">(current)</span></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="sobre_url">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>

  </header>

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5" style="float:none;margin:auto;">
              <h1 class="font-weight-light"> Dados inseridos incorretos</h1>
                <a href="relatar_url"><p>Por favor insira novamente</p></a>

            </div>
                <div class="col-md-4" style="float:none;margin:auto;">
                    <img src="{% static "images/insuccess.png" %}" class="img-fluid" alt="insuccess">
                </div>
        </div>
    </div>



</body>
</html>